<header class="header">
    <nav>
        <ul>
            <li>
                <a href="/"><i  class="header-logo">TECH.Chat</i></a>
            </li>
        </ul>
        <ul>
            <li>
                {{ request.user.username }}
            </li>
            <li>
                <a href="{% url 'home' %}" class="button outline">Home</a>
            </li>
            <li>
                <a href="{% url 'logout' %}" class="button outline">Logout</a>
            </li>
        </ul>
    </nav>
</header>
