{% extends 'chat/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<main class="container-fluid">
    <div class="chat-container">
        {% include 'chat/header.html' %}
        <section>
            <h2>セッション作成</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="primary">Create Session</button>
            </form>
        </section>


        <section>
            <h2>セッション一覧</h2>
            {% for session in sessions %}
            <article>
                <a href="{% url 'session_detail' session.id %}">
                    <h5>{{ session.name }}<small>(Created at: {{ session.created_at|date:"Y-m-d H:i:s" }})</small></h5>
                    <a href="{% url 'delete_session' session.id %}">このセッションを削除する</a>
                </a>
            </article>
            {% endfor %}
        </section>
    </div>
</main>
{% endblock %}