{% extends 'registration/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <main class="container">
        <div class="registration-container">
            <h1>TECH.Chat へようこそ！</h1>
            <h2>ログイン</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>
            <p>アカウントはありませんか? <a href="{% url 'signup' %}">Sign up</a></p>
        </div>
    </main>
{% endblock %}
