{% extends 'registration/base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <main class="container">
        <div class="registration-container">
            <h1>TECH.Chat へようこそ！</h1>
            <h2>サインアップ</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Sign Up</button>
        </form>
        <p>すでにアカウントをお持ちですか？ <a href="{% url 'login' %}">Login</a></p>
        </div>
    </main>
{% endblock %}